@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* css fajl za glavnu (live) stranicu */

.title-box {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.5em;


}

.title-box #goals {
    font-size: 1.8em;
}

.team {
    width: 100px;
}

.team img {
    height: 54px;
    width: 54px;
}

.matches-table {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.match-tile {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.match-tile img {
    width: 52px;
    height: 52px;
}

.match-tile p {
    font-size: 1.2rem;
}

.match-tile #goals {
    font-size: 1.8rem;
}

.match-tile .minutaza {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.match-tile .team {
    width: 100px;
}
#pismeni{
    width: auto;
    background-color: blueviolet;
    justify-content: space-between;
    display: flex;
}
#pismeni1{
    width: auto;
    background-color: rgb(189, 155, 63);
}

#xx{
    background-color: darkkhaki;
}
#xy{
    background-color: beige;
}
#xz{
    background-color: aqua;
}
#xx span{
    background-color: blue;
    border-radius: 40px;
}
